extends ../node_modules/jade-bootstrap/_bootstrap

head
	title= title
block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "active") Home
		+nav_item("/browseall", "") Browse Documents
		+nav_item("/upload", "") Upload
	.container
			+alert-info(reportMsg)
		h1= title
		p Welcome to the Colenso Project document database.
	.container
		.row
			.col-lg-6
				form(action="/search", method="get")
					+tab-list(["Text","XQuery"],0)
						+tab("Text", "active")
							.input-group
								input.form-control(type="text", name="searchString", placeholder='Search text strings..')
								span.input-group-btn
									button.btn.btn-default(type="submit") Search
						+tab("XQuery")
							.input-group
								input.form-control(type="text", name="searchMarkup", placeholder='Search by markup..')
								span.input-group-btn
									button.btn.btn-default(type="submit") Search