extends ../node_modules/jade-bootstrap/_bootstrap

head
	title= title
block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "active") Home
		
	.container
		h1= title
		p Welcome to #{title}
	.container
		.row
			.col-lg-6
				form(action="/search", method="get")
					.input-group
						input.form-control(type="text", name="searchString", placeholder='Search for...')
						span.input-group-btn
							button.btn.btn-default(id="submitSearch", type="submit") Search