extends ../node_modules/jade-bootstrap/_bootstrap

head
	title= title
block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/", "") Home
	.container
		.row
			.col-lg-6
				form(action="/search", method="get")
					+tab-list(["Text","XQuery"],0)
						+tab("Text", "active")
							.input-group
								input.form-control(type="text", name="searchString", placeholder='Search text strings')
								span.input-group-btn
									button.btn.btn-default(type="submit") Search
						+tab("XQuery")
							.input-group
								input.form-control(type="text", name="searchMarkup", placeholder='Search by markup')
								span.input-group-btn
									button.btn.btn-default(type="submit") Search
	.container
		if id.length > 0
			h1= id
		else
			h1= 'Colenso Project database document'
	.container
		if content != undefined
			p !{content}
		else
			+alert-info("No xml document found. Make sure the path is correct.")